@charset "UTF-8";


#visual {
}
#visual img {
  width: 100%;
}
.mobile {
  display: none;
}

@media (max-width: 991px) {
  #visual .mobile {
    display: block;
  }
  #visual .desktop {
    display: none;
  }
}
